trigger:
  - main  # Trigger the pipeline when changes are pushed to the 'main' branch

pool:
  name: Default  # Specify the name of your self-hosted agent pool

variables:
  JAVA_HOME: "C:\\Program Files\\Java\\jdk-11.0.17"
  PATH: "C:\\Program Files\\Java\\jdk-11.0.17\\bin;C:\\path\\to\\apache-maven\\bin;%PATH%"

steps:
  - script: |
      java -version
      mvn --version
    displayName: 'Show Java and Maven Versions'

  - script: |
      mvn.cmd clean package  # Use mvnw.cmd for Windows
    displayName: 'Build'

  - script: |
      mvn.cmd test  # Run tests (replace with appropriate command for your project)
    displayName: 'Run Tests'
